[Desktop Entry]
Type=Application
Name=SDR for Linux
Comment=Software-defined radio for HPSDR / ANAN transceivers
Comment[cs]=Softwarově definované rádio pro transceivery HPSDR / ANAN
Exec=sdr-for-linux
Icon=cz.ok1br.sdr_for_linux
Terminal=false
Categories=AudioVideo;Audio;HamRadio;
Keywords=SDR;ham;radio;HPSDR;ANAN;amateur;shortwave;transceiver;panadapter;
StartupNotify=true
